<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
    </head>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('get_recipes')}}" class="brand-logo">Kool Cuisines</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons pulse">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_recipes')}}">Home</a></li>
                    <li><a href="{{url_for('get_categories')}}">Categories</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                    <li><a href="{{url_for('add_category')}}">Add Category</a></li>
                    <li><a href="{{url_for('get_ads')}}"class="waves-effect waves-light btn pulse red">PROMOS<i class="material-icons right">local_offer</i></a></li>
                </ul>
                <ul class="sidenav side-nav" id="mobile-demo">
                    <li><a href="{{url_for('get_recipes')}}">Home</a></li>
                    <li><a href="{{url_for('get_categories')}}">Categories</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                    <li><a href="{{url_for('add_category')}}">Add Category</a></li>
                    <li><a href="{{url_for('get_ads')}}"class="waves-effect waves-light btn pulse red">PROMOS <i class="material-icons right">local_offer</i></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <body>
            {% block content %} 
            {% endblock %}
        </div>
        <!-- This will prevent the collapsible panels collapsing when you click on a title link for recipe, cuisine, allergen. It will still collapse if clicked else where on the panel -->
        <!-- JQuery Script -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <!-- Activates Icons Library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.sidenav').sidenav();
                
            });
        </script>   
    </body>
    
</html>