<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
    </head>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('get_recipes')}}" class="brand-logo"><img src="{{url_for('static', filename='images/koolrecipes.png')}}" width="250" height="auto" href="{{url_for('get_recipes')}}"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_recipes')}}">Home</a></li>
                    <li><a href="{{url_for('get_categories')}}">Categories</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                    <li><a href="{{url_for('add_category')}}">Add Category</a></li>
                    <li><a href="{{url_for('get_ads')}}"class="waves-effect waves-light btn pulse red">PROMO<i class="material-icons right">local_offer</i></a></li>
                </ul>
                <ul class="sidenav side-nav" id="mobile-demo">
                    <li><a href="{{url_for('get_recipes')}}">Home</a></li>
                    <li><a href="{{url_for('get_categories')}}">Categories</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                    <li><a href="{{url_for('add_category')}}">Add Category</a></li>
                    <li><a href="{{url_for('get_ads')}}"class="waves-effect waves-light btn pulse red">PROMOTIONS</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <body>
        <div class="slider">
            <ul class="slides">
              <li>
                <img src="{{url_for('static', filename='images/koolrecipesbanner.jpg')}}">
                <div class="caption center-align ">
                  <br>
                  <h1 class="myBannerText" style="font-family: 'Playball', cursive !important;">Let's Cook</h1>
                  <h3 class="light grey-text text-lighten-3 center-align myBannerText" style="font-family: 'Playball', cursive !important;">Find It, Mix It, Cook It, Enjoy It!!</h3><br>
                </div>
              </li>
              <li>
                <img src="{{url_for('static', filename='images/koolrecipebanner2.jpg')}}">
                <div class="caption center-align">
                  <br>
                  <h1 style="font-family: 'Playball', cursive !important;">How To Cook</h1>
                  <h3 class="light grey-text text-lighten-3 center-align " style="font-family: 'Playball', cursive !important;">Easy & Delicious Recipes</h3>
                </div>
              </li>
            </ul>
        </div>
        <div class="container">
            {% block content %} 
            {% endblock %}
        </div>
        <!-- JQuery Script -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <!-- Activates Icons Library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.sidenav').sidenav();
                $('.slider').slider();
                $('.collapsible').collapsible();
                $('select').formSelect();
                $('input#input_text, textarea#recipe_description').characterCounter();
                $('#textarea1').val('New Text');
                M.textareaAutoResize($('#textarea1'));
                $('select').material_select(); //Make Fields required for submission

                // for HTML5 "required" attribute
                $("select[required]").css({
                  display: "inline",
                  height: 0,
                  padding: 0,
                  width: 0
                });
            });
        </script>   
    </body>
    
</html>