{% extends 'base.html'%} 
{% block content %}

<div class="center">
  <h3>Categories</h3>
  <p>
    In a World full of varities we need to categorize our indulgences. Check if your favourite category is displayed or simply <a href="{{url_for('add_category')}}">Add A Category</a>.
  </p>
</div>

{% for category in categories %}
<div class="row">
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator myImgStyle" src="{{category.category_img_url}}" alt="{{category.category_name}}" style="width:100%;height:175px; background-position: center top !important;">
          <span class="card-title activator"><strong>{{category.category_name}}</strong>
        </div>
        <div class="card-reveal bgcardrev">
          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
          <!--p>Here is some more information about this product that is only revealed once clicked on.</p-->
          <h6><strong>{{category.category_name}}</strong></h6>
          <p>{{category.category_description}}</p>
          <div class="col s8">
             <a href="{{url_for('edit_category', category_id=category._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
          </div>
        </div>
    </div>
  </div> 
{% endfor %}
{% endblock %}
